<div class="container" align="center">
  <h2>Enter New Password</h2>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
          <form [formGroup]="resetPasswordForm" >
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" placeholder="password" formControlName="password">
                <div *ngIf="resetPasswordForm.controls.password.errors && (resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched)" class="form-error">
                    <div *ngIf="resetPasswordForm.controls.password.errors.required">Password must required</div>
                    <div *ngIf="resetPasswordForm.controls.password.errors.minlength">password must be atleast 8 characters long</div>
                    <div *ngIf="resetPasswordForm.controls.password.errors.maxlength">password must be maximum 16 characters long</div>
                    <div *ngIf="resetPasswordForm.controls.password.errors.pattern">Password must have 1 upper, 1 lower, 1 special
                      1 Digit
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="repassword">Retype Password:</label>
                <input type="password" class="form-control" placeholder="Reenter password" formControlName="repassword">
                <div *ngIf="resetPasswordForm.controls.repassword.errors && (resetPasswordForm.controls.repassword.dirty || resetPasswordForm.controls.repassword.touched)" class="form-error">
                    <div *ngIf="resetPasswordForm.controls.repassword.errors.required">rePassword must required</div>
                </div>
                <div class="form-error" *ngIf="(resetPasswordForm.controls.password.value != resetPasswordForm.controls.repassword.value) && (resetPasswordForm.controls.repassword.dirty || resetPasswordForm.controls.repassword.touched)">
                    Password and Confirm Password does not match
                  </div>
              </div>
              <div class="form-error">{{changePasswordMessage}}</div>
              <button type="submit" class="btn btn-primary" [disabled]="!(resetPasswordForm.valid && resetPasswordForm.controls.repassword.value === resetPasswordForm.controls.password.value)" (click)="changePassword()">Reset Password</button>
        </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
