<div>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" routerLink="/">tConnect</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a routerLink="/explore">Explore</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><img class="icon" src="/assets/ntf-icon.svg" /></li>
				<li class="link"  routerLink="/chat"><img class="icon" src="/assets/msg-icon.svg" /></li>
				<li routerLink="/studentProfile">
					
					<app-avatar [type]="'personal'" [height]="30" [width]="30" [profileUrl]="image"></app-avatar>
				</li>
				<li class="icon name">{{name}}</li>
				<li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
</div>